<form asp-action="Create">
    <input type="text" name="Id" placeholder="Id">
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Class" placeholder="Class">
    <input type="text" name="MSV" placeholder="MSV">
    <input type="submit" name="Push" placeholder="Submit">
</form>
<h2>@ViewBag.first</h2>